.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 131px;
    padding: 16px 30px;
    border-radius: 25px;
    /* z-index: 100; */
    background: linear-gradient(180deg, rgba(173, 54, 203, 1) 0%, rgba(217, 217, 217, 0) 100%);
    /* background: #AD36CB; */
    color: #fff;
    /* position: relative; */
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.time {
    font-size: 17px;
    font-weight: 500;
}

.temp {
    font-size: 21px;
    font-weight: 300;
}

.pad {
    width: 100%;
    height: 72px;
    display: inline-block;
    /* position: absolute; */
    /* transform: translateY(-100); */
    background: linear-gradient(-135deg, rgba(55, 51, 51, 1) 0%, rgba(217, 217, 217, 0) 100%);
}