.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    width: 817px;
    height: 425px;
    padding: 35px 28px;
    border-radius: 32px;
    background: #AD36CB;
    background: linear-gradient(135deg, rgba(173, 54, 203, 1) 27%, rgba(51, 51, 51, 1) 69%);
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(253, 245, 245, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(253, 245, 245, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(253, 245, 245, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.city {
    font-size: 30px;
    font-weight: light;

    &::after {
        content: url('../../../public/location.svg');
    }

}

.temp {
    font-size: 70px;

    &::after {
        content: url('/cloud.svg');
        display: inline-block;
        object-fit: cover
    }

    &::before {
        content: url('/temperature.svg');
    }
}

.params {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
}