.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 64px;
    font-size: 30px;
}

.logo {
    .time {
        justify-content: end;
        font-size: 20px;
    }

    h1 {
        font-size: 70px;
    }
}


.days {
    display: flex;
    gap: 52px;

    &.active {
        font-weight: bold;
        border-bottom: 2px solid red;
    }
}

.button {
    display: flex;
    align-items: center;
}

.slider {
    width: 92px;
    height: 30px;
    border-radius: 22px;
    background: linear-gradient(90deg, rgba(51, 224, 23, 100) 0%, rgba(148, 241, 134, 0) 100%);

    &::before {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        border-radius: 50%;
        transform: translateY(12%);
        background-color: #181515;
    }
}